<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.overc1ock.mapper.StockManagementMapper">

<!-- 출고처리 -->

	<select id="getOutboundList" resultType="com.overc1ock.domain.ProductionPlanVO">
		select product_name,item_code,item_name,production_date,consumption,(ifnull(eq,0)+ifnull(iq,0)-ifnull(oq,0)) stock_amount,ifnull(goq,0) total_amount,iup_code 
		from (select * from item_use_plan join products_production_plan using(ppp_code)) p 
		join item using(item_code) 
        left outer join (SELECT item_code, sum(inbound_quantity) iq FROM inbound group by item_code) i using(item_code)
        left outer join (SELECT item_code, sum(outbound_quantity) oq FROM outbound group by item_code) o using(item_code)
        left outer join (SELECT item_code, sum(es_quantity) eq FROM existing_stock group by item_code) e using(item_code)
        left outer join (SELECT iup_code, sum(outbound_quantity) goq FROM outbound group by iup_code) go using(iup_code)
        where consumption != ifnull(goq,0)
	</select>
	
	
	<select id="getOutboundListWithCriteria" resultType="com.overc1ock.domain.ProductionPlanVO">
		select product_name,item_code,item_name,production_date,consumption,(ifnull(eq,0)+ifnull(iq,0)-ifnull(oq,0)) stock_amount,ifnull(goq,0) total_amount,iup_code 
		from (select * from item_use_plan join products_production_plan using(ppp_code)) p 
		join item using(item_code) 
        left outer join (SELECT item_code, sum(inbound_quantity) iq FROM inbound group by item_code) i using(item_code)
        left outer join (SELECT item_code, sum(outbound_quantity) oq FROM outbound group by item_code) o using(item_code)
        left outer join (SELECT item_code, sum(es_quantity) eq FROM existing_stock group by item_code) e using(item_code)
        left outer join (SELECT iup_code, sum(outbound_quantity) goq FROM outbound group by iup_code) go using(iup_code)
        where consumption != ifnull(goq,0)
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
		    	AND production_date between date(#{startDate}) and date(#{endDate})+1
			</if>
			<if test="word != null and word != ''">
		    	AND product_name like concat('%',#{word},'%')
			</if>
		order by production_date
    </select>
	
	
	<select id="getProductNameList" resultType="com.overc1ock.domain.ProductionPlanVO">
		SELECT product_name FROM products_production_plan order by product_name
    </select>
    
    
    <insert id="insertOutbound" parameterType="java.util.List">
    	<foreach collection="list" item="vo" separator=";">
    	insert into outbound(outbound_quantity,shipping_date,item_code,iup_code)
    		values(#{vo.amount},#{vo.date},#{vo.item_code},#{vo.iup_code})
    	</foreach>
    </insert>
    
<!-- 재고금액현황관리리스트 -->    

    <select id="chartItemCode" resultType="com.overc1ock.domain.ReportVO">
        <![CDATA[
select t1.item_code mylabel, ifnull(재고금액,0) myvalue from
(select 일자, t1.item_code, item_name, 재고금액, mc_code, mc_name, sc_code, sc_name
from (select t1.일자, t1.item_code,입고량, 출고량,sum(ifnull(입고량,0)-ifnull(출고량,0)) over (partition by item_code order by 일자) as 재고량, (c.supply_price*sum(ifnull(입고량,0)-ifnull(출고량,0)) over (partition by item_code order by 일자)) 재고금액
	from (select t1.일자 as 일자, t1.item_code as item_code, sum(입고량) 입고량
			from (select *
					from (WITH RECURSIVE CTE  AS (
													  SELECT DATE_FORMAT('20230101', '%Y-%m-%d') AS DT FROM DUAL
													  UNION ALL
													  SELECT DATE_ADD(DT, INTERVAL 1 DAY) FROM CTE
													  WHERE DT < DATE_FORMAT(#{startDate}, '%Y-%m-%d')) SELECT DT AS 일자 FROM CTE) t1, -- 기간내의 날짜 모두 출력
						(select distinct(item_code) from inbound union select distinct(item_code) from existing_stock) t2) t1 -- 모든 날짜(t1)와 재고가 있는 아이템 코드(t2)의 조인 >> from절에 ,로 두개 테이블을 적으면 크로스 조인(모든 경우의 수 row를 가진 테이블 출력, 날짜별 모든 품목코드를 가짐)
		 left join 
			 (select item_code,DATE_FORMAT(es_date, '%Y-%m-%d') 일자, sum(es_quantity) 입고량 from existing_stock group by item_code,DATE_FORMAT(es_date, '%Y-%m-%d')
			  union all
			  select item_code, DATE_FORMAT(arrival_date, '%Y-%m-%d') 일자,  sum(inbound_quantity) 입고량 from inbound
			  group by item_code ,DATE_FORMAT(arrival_date, '%Y-%m-%d')) t2
		  on t1.일자=t2.일자 and t1.item_code=t2.item_code
		  group by 일자, item_code) t1 
		  left join ( select item_code, DATE_FORMAT(shipping_date, '%Y-%m-%d') 일자,  sum(outbound_quantity) 출고량 from outbound -- 기존재고량, 입고량, 출고량 조인
						group by item_code ,DATE_FORMAT(shipping_date, '%Y-%m-%d')) t2 
		  on t1.일자=t2.일자 and t1.item_code=t2.item_code
		  left join (select item_code, item_name, max(supply_price) supply_price from contract join item using(item_code) group by item_code, item_name) c on t1.item_code=c.item_code) t1
          left join (select * from item join sub_category using(sc_code) join major_category using(mc_code)) t2 on t1.item_code=t2.item_code) t1
                    join (select item_code, max(일자) 일자 from (
	select t1.일자, t1.item_code,입고량, 출고량,sum(ifnull(입고량,0)-ifnull(출고량,0)) over (partition by item_code order by 일자) as 재고량
	from (select t1.일자 as 일자, t1.item_code as item_code, 입고량
	from (select *
	from (WITH RECURSIVE CTE  AS (
		  SELECT DATE_FORMAT('20230101', '%Y-%m-%d') AS DT FROM DUAL
		  UNION ALL
		  SELECT DATE_ADD(DT, INTERVAL 1 DAY) FROM CTE
		  WHERE DT < DATE_FORMAT(#{startDate}, '%Y-%m-%d')) SELECT DT AS 일자 FROM CTE) t1,
		  (select distinct(item_code) from inbound union select distinct(item_code) from existing_stock) t2) t1
		 left join 
		 (select item_code,DATE_FORMAT(es_date, '%Y-%m-%d') 일자, es_quantity 입고량 from existing_stock 
		  union all
		  select item_code, DATE_FORMAT(arrival_date, '%Y-%m-%d') 일자,  sum(inbound_quantity) 입고량 from inbound
		  group by item_code ,DATE_FORMAT(arrival_date, '%Y-%m-%d')) t2
		  on t1.일자=t2.일자 and t1.item_code=t2.item_code) t1 
		  left join ( select item_code, DATE_FORMAT(shipping_date, '%Y-%m-%d') 일자,  sum(outbound_quantity) 출고량 from outbound group by item_code ,DATE_FORMAT(shipping_date, '%Y-%m-%d')) t2 
		  on t1.일자=t2.일자 and t1.item_code=t2.item_code) t1
group by item_code) t2 on t1.item_code=t2.item_code and t1.일자 = t2.일자

    	]]>
		<if test="num != null and num != ''">
		  <![CDATA[
	    	where 재고금액 >= #{num}
	    	]]>
		</if>
		order by t1.item_code

    </select>    
    
    
    <select id="chartItemCategory" resultType="com.overc1ock.domain.ReportVO">
select 
	    			<choose>
	    				<when test = 'category == "L"'>
	    					mc_name
	    				</when>
	    				<when test = 'category == "M"'>
	    					sc_name
	    				</when>
	    				<when test = 'category == "S"'>
	    					item_name
	    				</when>
	    			</choose>
 mylabel, 
    	<![CDATA[
sum(ifnull(재고금액,0)) myvalue from
(select 일자, t1.item_code, item_name, 재고금액, mc_code, mc_name, sc_code, sc_name
from (select t1.일자, t1.item_code,입고량, 출고량,sum(ifnull(입고량,0)-ifnull(출고량,0)) over (partition by item_code order by 일자) as 재고량, (c.supply_price*sum(ifnull(입고량,0)-ifnull(출고량,0)) over (partition by item_code order by 일자)) 재고금액
	from (select t1.일자 as 일자, t1.item_code as item_code, sum(입고량) 입고량
			from (select *
					from (WITH RECURSIVE CTE  AS (
													  SELECT DATE_FORMAT('20230101', '%Y-%m-%d') AS DT FROM DUAL
													  UNION ALL
													  SELECT DATE_ADD(DT, INTERVAL 1 DAY) FROM CTE
													  WHERE DT < DATE_FORMAT('20230608', '%Y-%m-%d')) SELECT DT AS 일자 FROM CTE) t1, -- 기간내의 날짜 모두 출력
						(select distinct(item_code) from inbound union select distinct(item_code) from existing_stock) t2) t1 -- 모든 날짜(t1)와 재고가 있는 아이템 코드(t2)의 조인 >> from절에 ,로 두개 테이블을 적으면 크로스 조인(모든 경우의 수 row를 가진 테이블 출력, 날짜별 모든 품목코드를 가짐)
		 left join 
			 (select item_code,DATE_FORMAT(es_date, '%Y-%m-%d') 일자, sum(es_quantity) 입고량 from existing_stock group by item_code,DATE_FORMAT(es_date, '%Y-%m-%d')
			  union all
			  select item_code, DATE_FORMAT(arrival_date, '%Y-%m-%d') 일자,  sum(inbound_quantity) 입고량 from inbound
			  group by item_code ,DATE_FORMAT(arrival_date, '%Y-%m-%d')) t2
		  on t1.일자=t2.일자 and t1.item_code=t2.item_code
		  group by 일자, item_code) t1 
		  left join ( select item_code, DATE_FORMAT(shipping_date, '%Y-%m-%d') 일자,  sum(outbound_quantity) 출고량 from outbound -- 기존재고량, 입고량, 출고량 조인
						group by item_code ,DATE_FORMAT(shipping_date, '%Y-%m-%d')) t2 
		  on t1.일자=t2.일자 and t1.item_code=t2.item_code
		  left join (select item_code, item_name, max(supply_price) supply_price from contract join item using(item_code) group by item_code, item_name) c on t1.item_code=c.item_code) t1
          left join (select * from item join sub_category using(sc_code) join major_category using(mc_code)) t2 on t1.item_code=t2.item_code) t1
                    join (select item_code, max(일자) 일자 from (
	select t1.일자, t1.item_code,입고량, 출고량,sum(ifnull(입고량,0)-ifnull(출고량,0)) over (partition by item_code order by 일자) as 재고량
	from (select t1.일자 as 일자, t1.item_code as item_code, 입고량
	from (select *
	from (WITH RECURSIVE CTE  AS (
		  SELECT DATE_FORMAT('20230101', '%Y-%m-%d') AS DT FROM DUAL
		  UNION ALL
		  SELECT DATE_ADD(DT, INTERVAL 1 DAY) FROM CTE
		  WHERE DT < DATE_FORMAT('20230608', '%Y-%m-%d')) SELECT DT AS 일자 FROM CTE) t1,
		  (select distinct(item_code) from inbound union select distinct(item_code) from existing_stock) t2) t1
		 left join 
		 (select item_code,DATE_FORMAT(es_date, '%Y-%m-%d') 일자, es_quantity 입고량 from existing_stock 
		  union all
		  select item_code, DATE_FORMAT(arrival_date, '%Y-%m-%d') 일자,  sum(inbound_quantity) 입고량 from inbound
		  group by item_code ,DATE_FORMAT(arrival_date, '%Y-%m-%d')) t2
		  on t1.일자=t2.일자 and t1.item_code=t2.item_code) t1 
		  left join ( select item_code, DATE_FORMAT(shipping_date, '%Y-%m-%d') 일자,  sum(outbound_quantity) 출고량 from outbound group by item_code ,DATE_FORMAT(shipping_date, '%Y-%m-%d')) t2 
		  on t1.일자=t2.일자 and t1.item_code=t2.item_code) t1
group by item_code) t2 on t1.item_code=t2.item_code and t1.일자 = t2.일자
		]]>
		<if test="num != null and num != ''">
		  <![CDATA[
	    	where 재고금액 >= #{num}
	    	]]>
		</if>
group by 
	    			<choose>
	    				<when test = 'category == "L"'>
	    					mc_name
	    				</when>
	    				<when test = 'category == "M"'>
	    					sc_name
	    				</when>
	    				<when test = 'category == "S"'>
	    					item_name
	    				</when>
	    			</choose>
order by 
	    			<choose>
	    				<when test = 'category == "L"'>
	    					mc_name
	    				</when>
	    				<when test = 'category == "M"'>
	    					sc_name
	    				</when>
	    				<when test = 'category == "S"'>
	    					item_name
	    				</when>
	    			</choose>
    </select>
    
    
    <select id="chartDate" resultType="com.overc1ock.domain.ReportVO">
        	<![CDATA[
			    select  mylabel, sum(myvalue) myvalue
				from (select t1.일자 mylabel, t1.item_code,입고량, 출고량,sum(ifnull(입고량,0)-ifnull(출고량,0)) over (partition by item_code order by t1.일자) as 재고량, (ifnull(c.supply_price,0)*(sum(ifnull(입고량,0)-ifnull(출고량,0)) over (partition by item_code order by t1.일자)))  myvalue
				from (select t1.일자 as 일자, t1.item_code as item_code, sum(입고량) 입고량
						from (select *
							from (WITH RECURSIVE CTE  AS (
															  SELECT DATE_FORMAT("2023-05-01", '%Y-%m-%d') AS DT FROM DUAL
															  UNION ALL
															  SELECT DATE_ADD(DT, INTERVAL 1 DAY) FROM CTE
															  WHERE DT < last_day(date(#{startDate}))) SELECT DT AS 일자 FROM CTE) t1,
									(select distinct(item_code) from inbound union select distinct(item_code) from existing_stock) t2) t1 
					 left join 
						 (select item_code,DATE_FORMAT(es_date, '%Y-%m-%d') 일자, sum(es_quantity) 입고량 from existing_stock group by item_code ,DATE_FORMAT(es_date, '%Y-%m-%d')
						  union all
						  select item_code, DATE_FORMAT(arrival_date, '%Y-%m-%d') 일자,  sum(inbound_quantity) 입고량 from inbound
						  group by item_code ,DATE_FORMAT(arrival_date, '%Y-%m-%d')) t2
					  on t1.일자=t2.일자 and t1.item_code=t2.item_code
                      group by  일자, item_code) t1 
					  left join ( select item_code, DATE_FORMAT(shipping_date, '%Y-%m-%d') 일자,  sum(outbound_quantity) 출고량 from outbound
									group by item_code ,DATE_FORMAT(shipping_date, '%Y-%m-%d')) t2 
					  on t1.일자=t2.일자 and t1.item_code=t2.item_code
					  left join (select item_code, max(supply_price) supply_price from contract group by item_code) c on t1.item_code=c.item_code) t1
			          where mylabel >= date(#{startDate})
			          group by mylabel
			          order by mylabel
          		]]>
    </select>


<!-- 재고산출 -->

    <insert id="insertExistingStock" parameterType="com.overc1ock.domain.ExistingStockVO">
		insert into existing_stock(es_quantity,item_code) values(#{amount},#{item_code})
    </insert>
    
    <select id = "getStockCalculationList" resultType="com.overc1ock.domain.StockCalculationVO">
    	<![CDATA[
      select item_code, item_name, standard, material, subcontractor_name, inbound_amount, outbound_amount, stock_amount, supply_price from (select 일자, t1.item_code item_code,item_name,standard,material,subcontractor_name,sum(ifnull(입고량,0)) over(partition by item_code order by 일자) inbound_amount,sum(ifnull(출고량,0)) over(partition by item_code order by 일자) outbound_amount,재고량 stock_amount,supply_price from (select t1.일자, t1.item_code,입고량, 출고량,sum(ifnull(입고량,0)-ifnull(출고량,0)) over (partition by item_code order by 일자) as 재고량
from (select t1.일자 as 일자, t1.item_code as item_code, sum(입고량) 입고량
from (select *
from (WITH RECURSIVE CTE  AS (
      SELECT DATE_FORMAT('20230101', '%Y-%m-%d') AS DT FROM DUAL
      UNION ALL
      SELECT DATE_ADD(DT, INTERVAL 1 DAY) FROM CTE
      WHERE DT < DATE_FORMAT(#{startDate}, '%Y-%m-%d')) SELECT DT AS 일자 FROM CTE) t1,
      (select distinct(item_code) from inbound union select distinct(item_code) from existing_stock) t2) t1
     left join 
     (select item_code,DATE_FORMAT(es_date, '%Y-%m-%d') 일자, sum(es_quantity) 입고량 from existing_stock group by item_code,DATE_FORMAT(es_date, '%Y-%m-%d')
	  union all
	  select item_code, DATE_FORMAT(arrival_date, '%Y-%m-%d') 일자,  sum(inbound_quantity) 입고량 from inbound
	  group by item_code ,DATE_FORMAT(arrival_date, '%Y-%m-%d')) t2 on t1.일자=t2.일자 and t1.item_code=t2.item_code
	  group by item_code,일자) t1 
      left join( select item_code, DATE_FORMAT(shipping_date, '%Y-%m-%d') 일자,  sum(outbound_quantity) 출고량 from outbound group by item_code ,DATE_FORMAT(shipping_date, '%Y-%m-%d')) t2 
      on t1.일자=t2.일자 and t1.item_code=t2.item_code) t2
      join (select i.item_code,subcontractor_name,supply_price,item_name,standard,material from
      (select c.item_code, subcontractor_name, c.supply_price
      from contract c join (select item_code, max(supply_price) supply_price from contract group by item_code) t1 on c.item_code=t1.item_code and c.supply_price=t1.supply_price) t1
      join item i on t1.item_code=i.item_code) t1
	  on t2.item_code=t1.item_code) t1
		]]>
			      where 일자 = DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			      
			      <if test="category != null and category != '' and word != null and word != ''">
			      	<choose>
	    				<when test = 'category == "name"'>
	    					and (item_name like concat('%',#{word},'%'))
	    				</when>
	    				<when test = 'category == "std"'>
	    					and (standard like concat('%',#{word},'%'))
	    				</when>
	    				<when test = 'category == "mat"'>
	    					and (material like concat('%',#{word},'%'))
	    				</when>
	    				<when test = 'category == "sub"'>
	    					and (subcontractor_name like concat('%',#{word},'%'))
	    				</when>
	    			 </choose>
	    			</if>
			      
    
    </select>

<!-- 입고처리(마감) -->

    <select id="getPurchaseOrderList" resultType="com.overc1ock.domain.PurchaseOrderVO">
	   select po_code, subcontractor_name supplier, po_date from purchase_order join contract using(po_code)
	   where close_status = 0
		<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
			and po_date between DATE(#{startDate}) and DATE(#{endDate})+1 
		</if>
		order by po_date
    </select>

    <select id="getProcurementPlanList" resultType="com.overc1ock.domain.ProcurementPlanVO">
		select item_code, item_name, `process`, production_date, consumption amount,procurement_date,pp_status from (select item_code, `process`, production_date, consumption,procurement_date,pp_status,contract.po_code  from purchase_order
		join contract using(po_code) join (select * from procurement_plan join item_use_plan using(iup_code) join products_production_plan using(ppp_code)) t1 using(item_code)) t1
		join item using(item_code)
		where po_code = #{po_code}
		order by item_code
    </select>
    
    <select id="getOrderItemList" resultType="com.overc1ock.domain.ProcurementPlanVO">
		select item_code, item_name, consumption amount,pp_status,procurement_date,subcontractor_name supplier from (select item_code, `process`, production_date, consumption,procurement_date,pp_status,contract.po_code, subcontractor_name  from purchase_order
		join contract using(po_code) join (select * from procurement_plan join item_use_plan using(iup_code) join products_production_plan using(ppp_code)) t1 using(item_code)) t1
		join item using(item_code)
		where po_code = #{po_code}
		order by item_code
    </select>
    
    <insert id="insertInbound" parameterType="java.util.List">
    	<foreach collection="list" item="vo" separator=";">
    	insert into inbound(inbound_quantity,arrival_date,item_code,po_code)
    		values(#{vo.amount},#{vo.date},#{vo.item_code},#{vo.po_code})
    	</foreach>
    </insert>
    
    <update id="updateProcurementPlanStatus">
    	update procurement_plan set pp_status = 1 where po_code in (select t1.po_code from (select * from procurement_plan join item_use_plan using(iup_code) join purchase_order using(po_code)) t1
		left join inbound t2 on t1.po_code=t2.po_code and t1.item_code=t2.item_code
		where consumption = inbound_quantity)
    </update>
    
</mapper>